/* Add your own custom styles here */

/* buttons */
.btn:hover {
  color: #cc78a7 !important;
}

/* titles */
h1 {
  @apply text-4xl font-bold mb-4;
}

/* paragraphs */
p {
  @apply text-base font-sans;
}

/* logo slider */
.container {
  overflow: hidden;
  .slider {
    animation: slidein 18s linear infinite;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: inline-block;
      margin: 103px 0;
      .fab {
        width: calc(100% / 4.3);
        animation: fade-in 0s 
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
